body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 90%;
    min-width: 600px;
    margin: 1rem auto;
}

.fs-steps {
    border-radius: 6px;
}

.container #section-course div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container #section-course div input,
.container #section-course div select,
.container #section-course div textarea {
    width: 50%;
    min-width: 200px;
    margin: 5px 0;
    padding: .5rem;
}

.container #section-course div select {
    width: calc(50% + 18px);
    min-width: 218px;
}

.container #section-course div label {
    width: 200px;
}

.container #section-course button {
    width: 200px;
    padding: .5rem;
    margin: 10px 0;
}

.error {
    color: red;
    width: 200px;
    padding: 5px;
}

#div-details-course {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-basis: 25%;*/
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #d2d2d2;
    margin: 2rem 0;
}

#div-details-course p {
    padding: .5rem;
}

#div-filters-course {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #d2d2d2;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

#div-filters-course select {
    width: 200px;
    min-height: 140px;
    padding: .5rem;
}

#div-filters-course button {
    padding: .5rem;
    margin: .5rem 0;
    height: 40px;
    width: 200px;
    /*align-self: flex-end;*/
}

#div-filters-course-especes {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

#div-filters-course-especes label {
    padding: .5rem;
    margin: .5rem 0;
}

#div-filters-course-especes select,
#div-filters-course-especes button {
    padding: .5rem;
    margin: .5rem;
}

#div-inscriptions-course div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#div-inscriptions-course div span {
    display: inline-block;
    width: 150px;
    padding: .5rem;
}

#div-inscriptions-course select {
    min-width: 250px;
    padding: .5rem;
    margin: 0 .5rem;
}

#div-inscriptions-course button,
#div-inscriptions-course input,
#div-inscriptions-course label {
    padding: .5rem;
    margin: 0 .5rem;
}

#div-inscriptions-course .participant {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0;
}

#div-inscriptions-course .participant p {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#div-inscriptions-course .participant p span {
    padding: 0 1rem;
}

.abandon {
    /*background-color: #ee1100;*/
    border: 2px solid #ee1100;
}

.stop {
    /*background-color: #1c7430;*/
    border: 2px solid #1c7430;
}

.incomplete {
    border: 2px solid #ffa844;
}

.participant-resultat {
    font-variant: all-small-caps;
    font-weight: bold;
}


